
body {
    background-color: #4f3b3b;
    font-family: Arial, sans-serif;
    margin: 0%;
}

header {
    background-color: #ffffff;
    color: rgb(5, 5, 5);
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
}
.nav-links a {
    color: rgb(0, 0, 0);
   
    margin-right: 1rem;
}
.logo {
     /* Adjust the width and height to fit your logo */
    height: 170px;
    border-radius: 50%; /* Apply a circular border radius */
    overflow: hidden; /* Hide any overflow content */
    margin-right: 0%;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the circular area */
}
.DH{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    position: relative ;
    right: 250px;
    
}
.links a {
    margin-right: 10px;
    color: #030303;
    text-decoration: none;
    font-size: x-large
}

.body-content {
    padding: 2rem;
    /* background-image: url('james-harrison-vpOeXr5wmR4-unsplash.jpg'); */
    background-repeat: no-repeat;
    background-size: cover; 
}

/* .intro-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.text-box {
    width: 60%;
}

.text-box h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.photo-box {
    width: 30%;
    text-align: right;
}

.photo-box img {
    width: 100%;
    max-height: 300px;
} */
.intro-box {
    height: 500px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* background-image: url('html-system-website-concept.jpg'); */
    /* margin: 20px; */
    background-image: url("3d-render-code-testing-functional-test-usability.jpg");
    background-size: cover;
    margin-bottom: 2rem;
}

.text-box {
    
    text-align: center;
    margin-right: 20px; /* Add margin to create space between text-box and photo-box */
}
.text-box h2{
    color: rgb(13, 44, 198);
   
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.text-box p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: hsl(9,9,9);
    margin: 0%;
}
.photo-box {
    width: 25%;
     /* Adjust the width and height to fit your logo */
    border-radius: 50%; /* Apply a circular border radius */
    overflow: hidden;
    
    /* Reduce the right margin to bring the photo closer */
}

.photo-box img {
    width: 100%;
    object-fit:cover;
}

.projects-section {
    background-image: url('8289982_25332.jpg');
    background-size: cover;
    color: white;
    padding: 2rem;
}

.projects-section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.7);

}

.project-box {
    display:grid;
    grid-template-columns:repeat(1,2fr) ;
}

.project {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    flex-basis: calc(33.33% - 1rem);
    margin-right: 1rem;
}

.project pre {
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
}

/* .projects-section {
    padding: 20px;
    color: #1b20b9;
}

.project-box {
    display: flex;
    justify-content: space-between;
}

.project {
    width: 30%;
    background-color: rgba(18, 12, 44, 0.7);
    padding: 10px;
    margin-bottom: 20px;
}

.project h2 {
    font-size: 20px;
    margin-bottom: 5px;
} */
.skills-section {
    padding: 2rem;
    margin-top: 2rem;
    background-image: url('8289982_25332.jpg');
    background-size: cover;
    color: white;
}

.skills-section h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.7);
    padding: 1.5rem;
    flex-basis: calc(33.33% - 1rem);
}

.skill {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1.5rem;
    flex-basis: calc(33.33% - 1rem);
    margin-right: 1rem;
    /* padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}


.skill h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
footer {
    
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    flex-basis: calc(33.33% - 1rem);
}

.f1{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.logo1 {
    height: 53px;
    margin-right: 10px;
    transition: 0.5s;
}
.logo1:hover {
    height: 70px;
}

.contact-info p {
    /* margin-top: 10px;
    margin-bottom: 5px; */
    color: rgb(0, 0, 0);
    margin: 0.25rem 0;
}
.last-sentence{
    
    text-align: center;
    
    color: rgb(0, 0, 0);
}